.jumbotron {
  background-image: url("../images/banner.jpg");
  color: black;
  margin-top: 32px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #d615a3;
  margin-bottom: 0px;
  margin-top: 10px;
}
.ficha-informacion {
  flex: 1 250px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
}
.btn-leer {
  width: 100%;
  border-radius: 0px;
  background-color: royalblue;
  color: black;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
.btn-outline-success {
  margin-top: 10px;
  margin-left: 500px;
}
