$violet: #d615a3;
$yellow: #fff200;
$red: #c20003;
$green: #1bc908;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-image: url("../images/banner.jpg");
    color: black;
    @include margenes(32px, 10px);
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $violet;
    @include margenes(10px, 0px);
}

.ficha-informacion {
    flex: 1 250px;
    padding: 2px 5px 2px 5px;
    @include margenes(10px, 0px);
}

.btn-leer {
    width: 100%;
    border-radius: 0px;
    background-color: royalblue;
    color: black;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}

.btn-outline-success {
    @include margenes(10px, 0px);
    margin-left: 500px;
}